

.body {
  font-family: var(--font-body);
  color: var(--color-on-surface-variant);
}


.body section {
  margin-bottom: 2rem; 
  font-family: Manrope;
}

.body section:last-child {
  margin-bottom: 0;
}


.body h3 {
  font-family: var(--font-headline);
  font-size: 1.125rem;    
  font-weight: 700;       
  color: var(--color-on-surface);
  margin-bottom: 1rem;  
  
}


.body p {
  font-size: 0.875rem;   
  line-height: 1.625;     
  margin-bottom: 1rem;    
}

.body p:last-child {
  margin-bottom: 0;
}


.body::after {
  content: "";
  display: block;
  height: 2rem;
}